{% extends 'base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}

    <div class="container-lg mt-5">

        <div class="row top-25 w-100"  style="border:solid 25px #229296;border-radius:50px;">

            <div class="col-12 col-lg-12 bg-light px-2 px-lg-5 py-0 my-0" style="border:solid 5px light;border-radius:25px;">

                {# Affichage du nombre total de commentaires (attibut apporté par knp_paginator) #}
                <div class="col-12 ps-5">
                    <p class="fs-5 text-left fst-italic text-dark text-decoration-underline">Nombre total de commentaires : {{ comments_paginate.getTotalItemCount }}</p>
                </div>

                {# S'il y a des commentaires, on affiche le menu de pagination #}
                <div class="container">
                    <div class="fs-6 fst-italic text-center mx-4">
                        {{ knp_pagination_render(comments_paginate) }}
                    </div>
                </div>

                <div class="container bg-light mt-3">

                    <h1 class="text-dark fs-2 fst-italic text-center"><strong>Liste des commentaires</strong></h1>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Content</th>
                                <th>CreatedAt</th>
                                <th>UpdatedAt</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for comment in comments %}
                            <tr>
                                <td>{{ comment.id }}</td>
                                <td>{{ comment.content }}</td>
                                <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ comment.updatedAt ? comment.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>
                                    <a href="{{ path('app_comment_show', {'id': comment.id}) }}">Montrer</a>
                                    <a href="{{ path('app_comment_edit', {'id': comment.id}) }}">Modifier</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">aucun commentaire </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <a href="{{ path('app_comment_new') }}" class="btn btn-success m-3 p-2">Créez un nouveau commentaire</a>

                </div>

            </div>

        </div>

    </div>

{% endblock %}
