{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <div class="container-xl mt-5">
        <div class="row top-25 start-25 w-100"  style="border:solid 25px #229296;border-radius:50px;">
            <div class="col-12 col-lg-12 bg-light px-2 px-lg-5 py-0 my-0" style="border:solid 5px light;border-radius:25px;">

                <h1 class="text-center mt-1" style="color:#11494C;"><span class="fs-1 fst-italic "><strong>Contactez-nous</strong></span></br>
                <span class="fs-4 fst-italic ">contact.transhepate.bfc@gmail.com</span></h1>

                {{ form_start(form) }}

                <div class="container">

                    {# Affichage du champ Fullname #}
                    {{ form_row(form.fullname) }}

                    {# Affichage du champ eMail #}
                    {{ form_row(form.email) }}

                    {# Affichage du champ Message #}
                    {{ form_row(form.message) }}

                    {# Affichage du recaptcha
                    <div id="container-g-recaptcha" class="row m-0 p-0">

                        {# La clé publique est récupérée en paramètre dans le fichier config/packages/twig.yaml #}
                        {# <div class="g-recaptcha col-6" data-sitekey="{{ google_recaptcha_site_key }}" data-theme="dark" data-size="normal"></div> #}

                        <div class="col-6 pt-2">
                            {# Affichage des erreurs générales du formulaire et donc du Google Recaptcha #}
                            {{ form_errors(form) }}
                        </div>
                    {# </div> #}

                    <a href="{{ path('app_main_home') }}" class="btn btn-success fs-5 fst-italic my-4 ms-5 py-1" style="border:solid 5px #11494C; border-radius:25px;"><strong>Envoyer mon message</strong></a>

                </div>

                <div>
                    <img src="{{ asset('build/je lui doit la vie.jpg') }}" class="img-fluid d-block w-100" alt="boat">
                </div>
            </div>
        </div>
    </div>


    {{ form_end(form) }}

{% endblock %}
