{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
	 {# inclus le block CSS commun #}
	 {{ parent() }}
	 {# Insertion du fichier JS dans le block stylesheets #}
	 {# La documentation de Recaptcha préconise en effet d'intégrer ce fichier JS dans le head #}
     <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div class="row"  style="border:solid 25px #229296;border-radius:50px;">
            <div class="col-12 col-lg-12 bg-light px-2 px-lg-5 py-0 my-0" style="border:solid 5px light;border-radius:25px;">

                <h1 class="text-center mt-1" style="color:#11494C;"><span class="fs-1 fst-italic "><strong>Contactez-nous</strong></span></br>
                <span class="fs-4 fst-italic ">contact.transhepate.bfc@gmail.com</span></h1>

                {{ form_start(form) }}

                <div class="container">

                    {# Affichage du champ Fullname #}
                    {{ form_row(form.name) }}

                    {# Affichage du champ eMail #}
                    {{ form_row(form.email) }}

                    {# Affichage du champ Message #}
                    {{ form_row(form.content) }}

                    {# Affichage du recaptcha #}
                    {# <div id="container-g-recaptcha" class="row ms-5 ps-5 py-3 my-3"> #}

                        {# La clé publique est récupérée en paramètre dans le fichier config/packages/twig.yaml #}
                        {# <div class="g-recaptcha col-6" data-sitekey="{{ google_recaptcha_site_key }}" data-theme="dark" data-size="normal"></div> #}

                        {# <div class="col-6 pt-2"> #}
                            {# Affichage des erreurs générales du formulaire et donc du Google Recaptcha #}
                            {# {{ form_errors(form) }} #}
                        {# </div> #}
                    {# </div> #}
                    {# <form action="?" method="POST">
                        <div class="g-recaptcha ms-5 ps-5" data-sitekey="6LfiqiMgAAAAAE3Oa654dAydbEN4lUnCwVx_KIsh"></div>
                        <br/>
                        {# <input type="submit" value="Submit"> #}
                    {# </form> #}

                    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>

                    <div>
                        <p class="ms-5 ps-5 fs-5 text-muted">"j'ai lu et accepte la politique de confidentialité de ce site"</p></br>
                        <p class="ms-5 ps-5 fs-5 fst-italic text-muted">Seules les données déposées volontairement par l'internaute
                            via le formulaire de contact seront conservées pendant 3 mois et sont uniquement destinées au traitement
                            des demandes formulées. Ces données ne seront jamais communiquées à des tiers et sont accessibles
                            uniquement par le président et les bénévoles habilités.
                            Conformément à la loi "informatique et libertés", vous disposez d’un droit d’accès,
                            de modification et/ou de suppression des données vous concernant à tout moment.
                            Pour exercer ce droit d'accès, adresser un courrier recommandé à l'attention du président :
                            Transhépate Bourgogne-Franche-Comté, 16 rue Marcel Sembat 21600 LONGVIC  / cf. Mentions légales et RGPD
                        </p>
                    </div>
                    <div class="mt-2">
                        <button class="btn btn-success fs-5 fst-italic my-4 ms-5 py-1"
                        style="border:solid 3px #11494C; border-radius:25px;"><strong>Envoyer mon message</strong></button>
                        <p class="">
                            <a class="text-decoration-none ms-5 px-5 py-1 text-light fs-5 fst-italic" style="background-color:#229296;border-radius:25px;border:solid 3px #11494C" 
                            href="{{ path('app_main_transhepatebfc') }}"><strong>Retour à la page contact</strong></a>
                        </p>
                    </div>
                </div>

                <div>
                    <img src="{{ asset('build/jeluidoitlavie.jpg') }}" class="img-fluid d-block w-100" alt="jeluidoitlavie">
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
