{% extends 'base.html.twig' %}

{% block title %}TRANSHEPATE BOURGOGNE FRANCHE-COMTEE{% endblock %}

{% block body %}

            {# CAROUSEL #}
<div style="width:100%;">
    <div id="carouselExampleControls" class="page-wrap carousel slide carousel-fade mt-5" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('build/transhepate_boat.jpg') }}" class="d-block w-100" alt="boat">
                <div class="carousel-caption d-none d-md-block">
                    <div><p class="fs-2 fst-italic badge bg-success text-wrap text-uppercase">La transquadra</p></div>
                    <div><h5 class="fs-5 fst-italic badge bg-primary text-wrap text-uppercase">*Un bateau pour promouvoir le don d'organes*</h5></div>
                    <a href="http://preprod.transhepate-idf.fr/la-transquadra/" target="_blank" class="btn btn-primary btn-lg fst-italic" tabindex="-1" role="button" aria-disabled="true">En savoir plus...</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('build/transhepate_mains.jpg') }}" class="d-block w-100" alt="mains">
                <div class="carousel-caption d-none d-md-block">
                    <div><p class="fs-2 fst-italic badge bg-success text-wrap text-uppercase">Transhépate</p></div>
                    <div><h5 class="fs-5 fst-italic badge bg-primary text-wrap text-uppercase">-symbole de la greffe et du don d'organes-</h5></div>

                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('build/transhepate_ruban_vert.jpg') }}" class="d-block w-100" alt="ruban_vert">
                <div class="carousel-caption d-none d-md-block">
                    <div><p class="fs-2 fst-italic badge bg-success text-wrap text-uppercase">Le ruban vert</p></div>
                    <div><h5 class="fs-5 fst-italic badge bg-primary text-wrap text-uppercase">. Des transplantés au chevet des malades du foie depuis 35 ans .</h5></div>
                    <a href="http://preprod.transhepate-idf.fr/le-ruban-vert/" target="_blank" class="btn btn-primary btn-lg fst-italic" tabindex="-1" role="button" aria-disabled="true">En savoir plus...</a>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="false"></span>
            <span class="visually-no-hidden text-primary"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="false"></span>
            <span class="visually-no-hidden text-primary"></span>
        </button>

    </div>

            {# BANDEAU TOURNESOL #}

    <div class="card" style="background-color: rgb(140, 230, 254);">
        <div class="row g-0">
            <div class="col-md-4">
                <img id="tournesol" src="{{ asset('build/tournesol.jpg') }}" class="img-fluid rounded-start" alt="TRANSHEPATE" style="height:360px; width: 800px;">
            </div>
            <div class="col-md-8">
                <div class="card-body fst-italic text-uppercase mx-5">
                    <p class="card-text mt-5 fs-3"><strong>Ne restez pas seul avec vos questions</strong></p>
                    <p class="card-text mt-5 fs-3 mx-5"><strong>Vos doutes vos peurs</strong></p>
                    <p class="card-text mt-5 fs-3"><strong>Nous pouvons peut-être vous aider</strong></p>
                </div>
            </div>
        </div>
    </div>

            {# TRANSHEPATE EN CHIFFRES #}

    <div class="bandeau row col-12">
        <div class="title_banner upper centered mb-0" style="background: #11494c;">
            <div class="container-lg text-light text-center text-uppercase fst-italic">
                <h2><strong>Transhépate en chiffres</strong></h2>
            </div>
        </div>

        <div class="row text-light">
            <div class="col-md-3">
                <div class="counter animated fadeInDown visible" data-animation="fadeInDown" data-animation-delay="300">
                    <div class="card-body text-center" style="background: #11494c;">
                        <span class="icon fs-2"><i class="fa fa-heart"></i class="::after"></span></br>
                        <span class="value fs-4" data-speed="4000" data-from="0" data-to="35">35</span>
                        <p class="card-text fs-5 fst-italic">années d'existence</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter animated fadeInDown visible" data-animation="fadeInDown" data-animation-delay="600">
                    <div class="card-body text-center" style="background: #11494c;">
                        <span class="icon fs-2"><i class="fa fa-address-book"></i></span></br>
                        <span class="value fs-4" data-speed="4000" data-from="0" data-to="1100">1100</span>
                        <p class="card-text fs-5 fst-italic">Adhérents</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter animated fadeInDown visible" data-animation="fadeInDown" data-animation-delay="300">
                    <div class="card-body text-center" style="background: #11494c;">
                        <span class="icon fs-2"><i class="fa fa-hands-helping"></i></span></br>
                        <span class="value fs-4" data-speed="4000" data-from="0" data-to="185">185</span>
                        <p class="card-text fs-5 fst-italic">Bénévoles</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="counter animated fadeInDown visible" data-animation="fadeInDown" data-animation-delay="300">
                    <div class="card-body text-center" style="background: #11494c;">
                        <span class="kyma_owl_n fs-2"><i class="fa fa-map-marker"></i></span></br>
                        <span class="value fs-4" data-speed="4000" data-from="0" data-to="12">12</span>
                        <p class="card-text fs-5 fst-italic">Antennes régionales</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


            {# LISTE DES ASSOCIATIONS REGIONALES #}

    <div class="bg-light">
        <div class="container">
            <div class="content row_spacer">
                <div class="title_banner upper centered bg-white mb-0">
                    <p class="fst-italic fs-2 text-uppercase text-center" style="color:#11494C;">
                        <i class="fa-solid fa-people-group"></i>
                        <strong>Nos associations régionales</strong>
                    </p>
                </div>

                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="3000">
                            <div class="owl-wrapper-outer autoheight" style="height: 520px">
                                <div class="owl-wrapper" style="width: 4992px; left: 0px; display: block; transition: all 800ms ease 0s;">
                                    <div class="carousel-caption d-none d-md-block">
                                        <div class="img">
                                            <img src="{{ asset('build/bo_img-e1583160820959.jpg') }}" class="d-block w-10" alt="TRANSHEPATE BRETAGNE OUEST"></img>
                                        </div>
                                            <div class="text-color fs-5">TRANSHEPATE BRETAGNE OUEST</div>
                                        <h5 style="text-align: center;">
                                            <div style="color: #0b8b2e;">
                                                <strong>Président : Daniel Cordier</strong>
                                            </div><br>
                                        </h5>
                                        <div>
                                            <strong>Tél : 06 45 46 42 14</strong>
                                            <div style="color: #808080;"><br>
                                                Siège social : CHU Pontchaillou - 2 rue Henri Le Guilloux 35000 RENNES
                                            </div>
                                        </div>
                                        <p style="text-align: center;">
                                            <a href="http://preprod.transhepate-idf.fr/nos-associations-regionales/" target="_blank" style="color:#FFFFFF;background-color:#229296;border-color:#1c7578;border-radius:34px;-moz-border-radius:34px;-webkit-border-radius:34px" target="_self">
                                                <div style="color:#000;margin:10px;padding:14px 24px;font-size:14px;line-height:21px;border-color:#65b3b6;border-radius:34px;-moz-border-radius:34px;-webkit-border-radius:34px;text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none">
                                                    <i class="m-3 py-3" style="font-size:1.5rem;color:#FFF">Voir toutes les associations régionales…</i>
                                                </div>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item" data-bs-interval="3000">
                            <div class="owl-wrapper-outer autoheight" style="height: 520px">
                                <div class="owl-wrapper" style="width: 4992px; left: 0px; display: block; transition: all 800ms ease 0s;">
                                    <div class="carousel-caption d-none d-md-block">
                                        <div class="img">
                                            <img src="{{ asset('build/idfreca-e1583160903560.jpg') }}" class="d-block w-10" alt="TRANSHEPATE ILE DE FRANCE"></img>
                                        </div>
                                        <div class="text-color fs-5">TRANSHEPATE ILE DE FRANCE </div>
                                        <h5 style="text-align: center;">
                                            <div style="color: #0b8b2e;">
                                                <strong>Présidente :<a href="mailto:transhepateidf@gmail.com">Anne-Marie WILMOTTE</a></strong>
                                            </div><br>
                                        </h5>
                                        <div>
                                            <strong>Tél : 06 61 89 14 49</strong>
                                            <div style="color: #808080;"><br>
                                                Siège social : 6 rue de l'aubrac 75012 PARIS
                                            </div>
                                        </div>
                                        <p style="text-align: center;">
                                            <a href="http://preprod.transhepate-idf.fr/nos-associations-regionales/" target="_blank" style="color:#FFFFFF;background-color:#229296;border-color:#1c7578;border-radius:34px;-moz-border-radius:34px;-webkit-border-radius:34px" target="_self">
                                                <div style="color:#000;margin:10px;padding:14px 24px;font-size:14px;line-height:21px;border-color:#65b3b6;border-radius:34px;-moz-border-radius:34px;-webkit-border-radius:34px;text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none">
                                                    <i class="m-3 p-3" style="font-size:1.5rem;color:#FFF">Voir toutes les associations régionales…</i>
                                                </div>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="owl-wrapper-outer autoheight" style="height: 520px">
                                <div class="owl-wrapper" style="width: 4992px; left: 0px; display: block; transition: all 800ms ease 0s;">
                                    <div class="carousel-caption d-none d-md-block">
                                        <div class="img">
                                            <img src="{{ asset('build/cpc_img-e1583160865698.jpg') }}" class="d-block w-10" alt="TRANSHEPATE CENTRE POITOU CHARENTES"></img>
                                        </div>
                                        <div class="text-color fs-5">TRANSHEPATE CENTRE POITOU CHARENTES</div>
                                        <h5 style="text-align: center;">
                                            <div style="color: #0b8b2e;">
                                                <strong>Présidente : Miki GOUDSMIT</strong>
                                            </div><br>
                                        </h5>
                                        <div>
                                            <strong>Tél : 06 43 41 58 36</strong>
                                            <div style="color: #808080;"><br>
                                                Siège social :
                                                Secrétariat du Professeur Salamé - CHRU Trousseau - Avenue de la République 37000 TOURS
                                            </div>
                                        </div>
                                        <p style="text-align: center;">
                                            <a href="http://preprod.transhepate-idf.fr/nos-associations-regionales/" target="_blank" style="color:#FFFFFF;background-color:#229296;border-color:#1c7578;border-radius:34px;-moz-border-radius:34px;-webkit-border-radius:34px" target="_self">
                                                <div style="color:#000;margin:10px;padding:14px 24px;font-size:14px;line-height:21px;border-color:#65b3b6;border-radius:34px;-moz-border-radius:34px;-webkit-border-radius:34px;text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none">
                                                    <i class="m-3 p-3" style="font-size:1.5rem;color:#FFF">Voir toutes les associations régionales…</i>
                                                </div>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="owl-wrapper-outer autoheight" style="height: 520px">
                                <div class="owl-wrapper" style="width: 4992px; left: 0px; display: block; transition: all 800ms ease 0s;">
                                    <div class="carousel-caption d-none d-md-block">
                                        <div class="img">
                                            <img src="{{ asset('build/li_img.jpg') }}" class="d-block w-10" alt="TRANSHEPATE LIMOUSIN"></img>
                                        </div>
                                            <div class="text-color fs-5">TRANSHEPATE LIMOUSIN </div>
                                        <h5 style="text-align: center;">
                                            <div style="color: #0b8b2e;">
                                                <strong>Président :<a href="mailto:transhepatelimousin@orange.fr">Denis TOUCHET</a></strong>
                                            </div><br>
                                        </h5>
                                        <div>
                                            <strong>Tél : 05 55 30 47 35</strong>
                                            <div style="color: #808080;"><br>
                                                Siège social : 2 Avenue Martin Luther King 87042 LIMOGES Cedex
                                            </div>
                                        </div>
                                        <p style="text-align: center;">
                                            <a href="http://preprod.transhepate-idf.fr/nos-associations-regionales/" target="_blank" style="color:#FFFFFF;background-color:#229296;border-color:#1c7578;border-radius:34px;-moz-border-radius:34px;-webkit-border-radius:34px" target="_self">
                                                <div style="color:#000;margin:10px;padding:14px 24px;font-size:14px;line-height:21px;border-color:#65b3b6;border-radius:34px;-moz-border-radius:34px;-webkit-border-radius:34px;text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none">
                                                    <i class="m-3 p-3" style="font-size:1.5rem;color:#FFF">Voir toutes les associations régionales…</i>
                                                </div>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="owl-wrapper-outer autoheight" style="height: 520px">
                                <div class="owl-wrapper" style="width: 4992px; left: 0px; display: block; transition: all 800ms ease 0s;">
                                    <div class="carousel-caption d-none d-md-block">
                                        <div class="img">
                                            <img src="{{ asset('build/ra_img-e1583160887692.jpg') }}" class="d-block w-10" alt="TRANSHEPATE RHÔNE ALPES (RESURGENCE)"></img>
                                        </div>
                                            <div class="text-color fs-5">TRANSHEPATE RHÔNE ALPES (RESURGENCE) </div>
                                        <h5 style="text-align: center;">
                                            <div style="color: #0b8b2e;">
                                                <strong>Présidente : <a href="mailto:phthieb@orange.fr">Muriel TISSIER</a></strong>
                                            </div><br>
                                        </h5>
                                        <div>
                                            <strong>Tél : 06 63 70 56 73</strong>
                                            <div style="color: #808080;"><br>
                                                Siège social : Mairie du 4ème - Boulevard de la Croix Rousse 69004 LYON
                                            </div>
                                        </div>
                                        <p style="text-align: center;">
                                            <a href="http://preprod.transhepate-idf.fr/nos-associations-regionales/" target="_blank" style="color:#FFFFFF;background-color:#229296;border-color:#1c7578;border-radius:34px;-moz-border-radius:34px;-webkit-border-radius:34px" target="_self">
                                                <div style="color:#000;margin:10px;padding:14px 24px;font-size:14px;line-height:21px;border-color:#65b3b6;border-radius:34px;-moz-border-radius:34px;-webkit-border-radius:34px;text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none">
                                                    <i class="m-3 p-3" style="font-size:1.5rem;color:#FFF">Voir toutes les associations régionales…</i>
                                                </div>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="owl-wrapper-outer autoheight" style="height: 520px">
                                <div class="owl-wrapper" style="width: 4992px; left: 0px; display: block; transition: all 800ms ease 0s;">
                                    <div class="carousel-caption d-none d-md-block">
                                        <div class="img">
                                            <img src="{{ asset('build/bfc_img.jpg') }}" class="d-block w-10" alt="TRANSHEPATE BOURGOGNE FRANCHE COMTE"></img>
                                        </div>
                                            <div class="text-color fs-5">TRANSHEPATE BOURGOGNE FRANCHE COMTE</div>
                                        <h5 style="text-align: center;">
                                            <div style="color: #0b8b2e;">
                                                <strong>Président : <a href="mailto:contact.transhepate.bfc@gmail.com.fr?subject=Subject text">Armand FAGES</a></strong>
                                            </div><br>
                                        </h5>
                                        <div>
                                            <strong>Tél : 06 08 78 31 63</strong>
                                            <div style="color: #808080;"><br>
                                                Siège social : CHU de Besançon - Maison des Familles</br>3 Boulevard Alexandre Fleming 25000 BESANÇON
                                            </div>
                                        </div>
                                        <p style="text-align: center;">
                                            <a href="http://preprod.transhepate-idf.fr/nos-associations-regionales/" target="_blank" style="color:#FFFFFF;background-color:#229296;border-color:#1c7578;border-radius:34px;-moz-border-radius:34px;-webkit-border-radius:34px" target="_self">
                                                <div style="color:#000;margin:10px;padding:14px 24px;font-size:14px;line-height:21px;border-color:#65b3b6;border-radius:34px;-moz-border-radius:34px;-webkit-border-radius:34px;text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none">
                                                    <i class="m-3 p-3" style="font-size:1.5rem;color:#FFF">Voir toutes les associations régionales…</i>
                                                </div>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="owl-wrapper-outer autoheight" style="height: 520px">
                                <div class="owl-wrapper" style="width: 4992px; left: 0px; display: block; transition: all 800ms ease 0s;">
                                    <div class="carousel-caption d-none d-md-block">
                                        <div class="img">
                                            <img src="{{ asset('build/no_img-e1583160875430.jpg') }}" class="d-block w-10" alt="TRANSHEPATE NORMANDIE"></img>
                                        </div>
                                            <div class="text-color fs-5">TRANSHEPATE NORMANDIE</div>
                                        <h5 style="text-align: center;">
                                            <div style="color: #0b8b2e;">
                                                <strong>Président : <a href="mailto:transhepat@aol.com">Marc LEBLOND</a></strong>
                                            </div><br>
                                        </h5>
                                        <div>
                                            <strong>Tél : 02 33 25 43 98</strong>
                                            <div style="color: #808080;"><br>
                                                Siège social : CHU Caen - Avenue de la Côte de Nacre 14033 CAEN Cedex 9
                                            </div>
                                        </div>
                                        <p style="text-align: center;">
                                            <a href="http://preprod.transhepate-idf.fr/nos-associations-regionales/" target="_blank" style="color:#FFFFFF;background-color:#229296;border-color:#1c7578;border-radius:34px;-moz-border-radius:34px;-webkit-border-radius:34px" target="_self">
                                                <div style="color:#000;margin:10px;padding:14px 24px;font-size:14px;line-height:21px;border-color:#65b3b6;border-radius:34px;-moz-border-radius:34px;-webkit-border-radius:34px;text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none">
                                                    <i class="m-3 p-3" style="font-size:1.5rem;color:#FFF">Voir toutes les associations régionales…</i>
                                                </div>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="owl-wrapper-outer autoheight" style="height: 520px">
                                <div class="owl-wrapper" style="width: 4992px; left: 0px; display: block; transition: all 800ms ease 0s;">
                                    <div class="carousel-caption d-none d-md-block">
                                        <div class="img">
                                            <img src="{{ asset('build/pacac_img-e1583160919994.jpg') }}" class="d-block w-10" alt="TRANSHEPATE PACAC"></img>
                                        </div>
                                            <div class="text-color fs-5">TRANSHEPATE PACAC</div>
                                        <h5 style="text-align: center;">
                                            <div style="color: #0b8b2e;">
                                                <strong>Président : <a href="mailto:jean.acciaro@free.fr">Jean ACCIARO</a></strong>
                                            </div><br>
                                        </h5>
                                        <div>
                                            <strong>Tél : 06 65 59 83 11</strong>
                                            <div style="color: #808080;"><br>
                                                Siège social : 111 Avenue Franklin Roosevelt 13600 LA CIOTAT
                                            </div>
                                        </div>
                                        <p style="text-align: center;">
                                            <a href="http://preprod.transhepate-idf.fr/nos-associations-regionales/" target="_blank" style="color:#FFFFFF;background-color:#229296;border-color:#1c7578;border-radius:34px;-moz-border-radius:34px;-webkit-border-radius:34px" target="_self">
                                                <div style="color:#000;margin:10px;padding:14px 24px;font-size:14px;line-height:21px;border-color:#65b3b6;border-radius:34px;-moz-border-radius:34px;-webkit-border-radius:34px;text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none">
                                                    <i class="m-3 p-3" style="font-size:1.5rem;color:#FFF">Voir toutes les associations régionales…</i>
                                                </div>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="owl-wrapper-outer autoheight" style="height: 520px">
                                <div class="owl-wrapper" style="width: 4992px; left: 0px; display: block; transition: all 800ms ease 0s;">
                                    <div class="carousel-caption d-none d-md-block">
                                        <div class="img">
                                            <img src="{{ asset('build/so_img-e1583160831890.jpg') }}" class="d-block w-10" alt="TRANSHEPATE SUD OUEST (AMATHSO)"></img>
                                        </div>
                                            <div class="text-color fs-5">TRANSHEPATE SUD OUEST (AMATHSO)</div>
                                        <h5 style="text-align: center;">
                                            <div style="color: #0b8b2e;">
                                                <strong>Président : <a href="http://www.amathso.org/" target="_blank">Michel DURIEUX</a></strong>
                                            </div><br>
                                        </h5>
                                        <div>
                                            <strong>Tél : 05 56 97 58 39</strong>
                                            <div style="color: #808080;"><br>
                                                Siège social : Hôpital Haut Lévêque - Espace associations</br>Avenue Magellan 33604 PESSAC
                                            </div>
                                        </div>
                                        <p style="text-align: center;">
                                            <a href="http://preprod.transhepate-idf.fr/nos-associations-regionales/" target="_blank" style="color:#FFFFFF;background-color:#229296;border-color:#1c7578;border-radius:34px;-moz-border-radius:34px;-webkit-border-radius:34px" target="_self">
                                                <div style="color:#000;margin:10px;padding:14px 24px;font-size:14px;line-height:21px;border-color:#65b3b6;border-radius:34px;-moz-border-radius:34px;-webkit-border-radius:34px;text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none">
                                                    <i class="m-3 p-3" style="font-size:1.5rem;color:#FFF">Voir toutes les associations régionales…</i>
                                                </div>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="owl-wrapper-outer autoheight" style="height: 520px">
                                <div class="owl-wrapper" style="width: 4992px; left: 0px; display: block; transition: all 800ms ease 0s;">
                                    <div class="carousel-caption d-none d-md-block">
                                        <div class="img">
                                            <img src="{{ asset('build/mp_img-e1583160844383.jpg') }}" class="d-block w-10" alt="TRANSHEPATE OCCITANIE"></img>
                                        </div>
                                            <div class="text-color fs-5">TRANSHEPATE OCCITANIE</div>
                                        <h5 style="text-align: center;">
                                            <div style="color: #0b8b2e;">
                                                <strong>Président : <a href="" target="_blank"></a>Christian VAUCELLE</strong>
                                            </div><br>
                                        </h5>
                                        <div>
                                            <strong>Tél : 06 65 19 41 57</strong>
                                            <div style="color: #808080;"><br>
                                                Siège social : St Sernin le Haut 11320 SAINT-PAULET
                                            </div>
                                        </div>
                                        <p style="text-align: center;">
                                            <a href="http://preprod.transhepate-idf.fr/nos-associations-regionales/" target="_blank" style="color:#FFFFFF;background-color:#229296;border-color:#1c7578;border-radius:34px;-moz-border-radius:34px;-webkit-border-radius:34px" target="_self">
                                                <div style="color:#000;margin:10px;padding:14px 24px;font-size:14px;line-height:21px;border-color:#65b3b6;border-radius:34px;-moz-border-radius:34px;-webkit-border-radius:34px;text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none">
                                                    <i class="m-3 p-3" style="font-size:1.5rem;color:#FFF">Voir toutes les associations régionales…</i>
                                                </div>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="owl-wrapper-outer autoheight" style="height: 520px">
                                <div class="owl-wrapper" style="width: 4992px; left: 0px; display: block; transition: all 800ms ease 0s;">
                                    <div class="carousel-caption d-none d-md-block">
                                        <div class="img">
                                            <img src="{{ asset('build/hdf_img-e1583160782160.jpg') }}" class="d-block w-10" alt="TRANSHEPATE HAUTS DE FRANCE"></a>
                                        </div>
                                            <div class="text-color fs-5">TRANSHEPATE HAUTS DE FRANCE</div>
                                        <h5 style="text-align: center;">
                                            <div style="color: #0b8b2e;">
                                                <strong>Président : <a href="mailto:transhepatehdf@gmail.com" target="_blank">Eric BULEUX-OSMANN</a></strong>
                                            </div><br>
                                        </h5>
                                        <div>
                                            <strong>Tél : 06 50 13 90 38</strong>
                                            <div style="color: #808080;"><br>
                                                Siège social : Maison des Associations - 27 ruer Jean Bart 59000 LILLE
                                            </div>
                                        </div>
                                        <p style="text-align: center;">
                                            <a href="http://preprod.transhepate-idf.fr/nos-associations-regionales/" target="_blank" style="color:#FFFFFF;background-color:#229296;border-color:#1c7578;border-radius:34px;-moz-border-radius:34px;-webkit-border-radius:34px" target="_self">
                                                <div style="color:#000;margin:10px;padding:14px 24px;font-size:14px;line-height:21px;border-color:#65b3b6;border-radius:34px;-moz-border-radius:34px;-webkit-border-radius:34px;text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none">
                                                    <i class="m-3 p-3" style="font-size:1.5rem;color:#FFF">Voir toutes les associations régionales…</i>
                                                </div>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="owl-wrapper-outer autoheight" style="height: 520px">
                                <div class="owl-wrapper" style="width: 4992px; left: 0px; display: block; transition: all 800ms ease 0s;">
                                    <div class="carousel-caption d-none d-md-block">
                                        <div class="img">
                                            <img src="{{ asset('build/tah_img-e1583160806860.jpg') }}" class="d-block w-10" alt="TRANSHEPATE TAHITI ET SES ILES"></img>
                                        </div>
                                            <div class="text-color fs-5">TRANSHEPATE TAHITI ET SES ILES</div>
                                        <h5 style="text-align: center;">
                                            <div style="color: #0b8b2e;">
                                                <strong>Présidente : <a href="mailto:valerieyee@mail.pf">Valérie WONG</a></strong>
                                            </div><br>
                                        </h5>
                                        <div>
                                            <strong>Tél : 87 70 04 94</strong>
                                            <div style="color: #808080;"><br>
                                                Siège social : BP 122290 - 98712 PAPAKA TAHITI
                                            </div>
                                        </div>
                                        <p style="text-align: center;">
                                            <a href="http://preprod.transhepate-idf.fr/nos-associations-regionales/" target="_blank" style="color:#FFFFFF;background-color:#229296;border-color:#1c7578;border-radius:34px;-moz-border-radius:34px;-webkit-border-radius:34px" target="_self">
                                                <div style="color:#000;margin:10px;padding:14px 24px;font-size:14px;line-height:21px;border-color:#65b3b6;border-radius:34px;-moz-border-radius:34px;-webkit-border-radius:34px;text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none">
                                                    <i class="m-3 p-3" style="font-size:1.5rem;color:#FFF">Voir toutes les associations régionales…</i>
                                                </div>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

            {# NOS MISSIONS #}

    <div id="features_section" class="mb-5 content_section white_section bg-color1">
        <div class="title_banner upper centered">
            <p class="text-light fst-italic fs-2 text-uppercase text-center">
            <span class="line">
                <i class="fa-solid fa-user-doctor"></i>
            </span>
            <strong>Nos missions</strong>
            </p>
        </div>
        <div class="container icons_spacer">
            <div class="row icon_boxes_con style2 upper_title solid_icon clearfix">
                <div class="col-md-4 mb-4 px-5 pb-5">
                    <div class="service_box">
                        <card class="icon-circle py-3 px-2 ps-3 pe-1">
                            <i class="fa-solid fa-lg fa-lightbulb pe-3" style="height:32px; width:22px;"></i>
                        </card>
                        <div class="service_box_con text-light" style="background:#11494c;">
                            <H6 class="mt-4"><strong>FAIRE PRENDRE CONSCIENCE</strong></H6>
                            <span class="desc">De l'importance du don d'organes, en liaison avec d'autres associations ou organismes
                                                poursuivant le même but afin de réduire sensiblement les refus.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 px-5 pb-5">
                    <div class="service_box">
                        <card class="icon-circle py-3 px-2 ps-3 pe-1" style="border:solid 1px #11494C;border-radius:50px;">
                            <i class="fa-solid fa-lg fa-comments pe-3" style="height:32px; width:22px;"></i>
                        </card>
                        <div class="service_box_con text-light" style="background:#11494c;">
                            <H6 class="mt-4"><strong>SOUTENIR, ECHANGER ET ECOUTER</strong></H6>
                            <p class="desc">Apporter un soutien aux transplantés, futurs transplantés et insuffisants
                                                hépatiques ainsi qu'a leurs proches.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 px-5 pb-5">
                    <div class="service_box">
                    <card class="icon-circle py-3 px-2 ps-3 pe-1" style="border:solid 1px #11494C;border-radius:50px;">
                            <i class="fa-solid fa-lg fa-bell pe-3" style="height:32px; width:22px;"></i>
                        </card>
                        <div class="service_box_con text-light" style="background:#11494c;">
                        <H6 class="mt-4"><strong>SENSIBILISER L'OPINION</strong></H6>
                        <p class="desc">Aux risques de l'insuffisance hépatique grave et à la solution apportée par la
                                            transplantation du foie comme ultime recours.</p>
                    </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 px-5">
                    <div class="service_box">
                        <card class="icon-circle py-3 px-2 ps-3 pe-1" style="border:solid 1px #11494C;border-radius:50px;">
                            <i class="fa-solid fa-lg fa-hands-helping pe-3" style="height:32px; width:22px;"></i>
                        </card>
                        <div class="service_box_con text-light" style="background:#11494c;">
                            <H6 class="mt-4"><strong>SOUTENIR ET AIDER LA RECHERCHE</strong></H6>
                            <p class="desc">Sur les pathologies hépatique et les problèmes liés à la greffe de foie.
                                                Nous soutenons la recherche essentiellement à l'aide des dons versés à Transhépate.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 px-5">
                    <div class="service_box">
                        <card class="icon-circle py-3 px-2 ps-3 pe-1" style="border:solid 1px #11494C;border-radius:50px;">
                            <i class="fa-solid fa-lg fa-bullhorn pe-3" style="height:32px; width:22px;"></i>
                        </card>
                        <div class="service_box_con text-light" style="background:#11494c;">
                            <H6 class="mt-4"><strong>TEMOIGNER</strong></H6>
                            <p class="desc">Par notre vécu de personnes transplantées, de la qualité de vie que procure une greffe hépatique.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 px-5">
                    <div class="service_box">
                        <card class="icon-circle py-3 px-2 ps-3 pe-1" style="border:solid 1px #11494C;border-radius:50px;">
                            <i class="fa-solid fa-lg fa-user-nurse pe-3" style="height:32px; width:22px;"></i>
                        </card>
                        <div class="service_box_con text-light" style="background:#11494c;">
                            <H6 class="mt-4"><strong>ASSURER UNE DIFFUSION</strong></H6>
                            <p class="desc">Aussi large que possible d'une information sur toutes les maladies hépatiques sévères.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

            {# FAIRE UN DON #}

        <div style="background-color: rgb(0,137,45);">
            <p class="text-light pt-4 fst-italic fs-2 text-uppercase text-center">
            <span class="line">
                <i class="fa-solid fa-hand-holding-dollar"></i>
            </span>
            <strong>Faire un don à transhépate bfc</strong>
            </p>
            <p class="text-light fst-italic fs-5 text-center">Aidez-nous à soutenir la recherche sur les pathologies hépatiques et les problèmes liés à la greffe du foie !</p>
            <div class="d-grid gap-2 col-1 mx-auto">
                <a class="btn btn-outline-success text-light fs-5 fst-italic text-uppercase my-4" type="button" style="color: #0b8b2e;border-radius:15px;font-weight: bold;" href="{{ path('app_main_helloasso') }}">Je donne</a>
            </div>
        </div>

            {# NOS BROCHURES #}

    <div>
        <div class="text-center" style="background-color: #3bb3c0;">
            <div class="fs-2 pt-4 fst-italic text-center text-uppercase" style="color:#11494C;">
                <i class="fa-solid fa-book-open"></i>
                <strong>Nos brochures</strong>
            </div>
            <div class="d-flex flex-row">
                <div class="col-sm-3">
                    <div class="card m-5 p-1" style="border:solid 5px white; border-radius:25px 25px 0 0;">
                        <div class="card-body" style="background-color:#b0e8af;border-radius:15px;">
                            <a href="{{ asset('build/Guide-du-futur-transplanté2.pdf') }}" target="_blank">
                            <img width="150" height="200" src="{{ asset('build/Guide-du-futur-transplanté-211x300.jpg') }}" class="img-responsive" style="border-radius:15px 15px 0 0;"></a>
                            <p class="text-dark fs-6 fst-italic text-center bg-white p-1 mt-3" style="border-radius:15px;">Le guide du futur transplanté</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card m-5 p-1" style="border:solid 5px white; border-radius:25px 25px 0 0;">
                        <div class="card-body" style="background-color:#b0e8af;border-radius:15px;">
                            <a href="{{ asset('build/Brochure-transhepate.bfc.pdf') }}" target="_blank">
                            <img width="150" height="200" src="{{ asset('build/Vivre-lattente-de-la-greffe-en-toute-sérénité-1-223x300.jpg') }}" class="img-responsive" style="border-radius:15px 15px 0 0;"></a>
                            <p class="text-dark fs-6 fst-italic text-center bg-white p-1 mt-3" style="border-radius:15px;">Attendre la greffe en toute sérénité</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card m-5 p-1" style="border:solid 5px white; border-radius:25px 25px 0 0;">
                        <div class="card-body" style="background-color:#b0e8af;border-radius:15px;">
                            <a href="{{ asset('build/La-greffe-vue-par-les-enfants.pdf') }}" target="_blank">
                            <img width="150" height="180" src="{{ asset('build/outilspedagogiques_vdef-1-184x300.jpg') }}" class="img-responsive" style="border-radius:15px 15px 0 0;"></a>
                            <p class="text-dark fs-6 fst-italic text-center bg-white p-1 mt-3" style="border-radius:15px;">Le don d'organe expliqué aux enfants</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card m-5 p-1" style="border:solid 5px white; border-radius:25px 25px 0 0;">
                        <div class="card-body" style="background-color:#b0e8af;border-radius:15px;">
                            <a href="{{ asset('build/attente-greffe.pdf') }}" target="_blank">
                            <img width="150" height="200" src="{{ asset('build/attente-greffe-1-207x300.jpg') }}" class="img-responsive" style="border-radius:15px 15px 0 0;"></a>
                            <p class="text-dark fs-6 fst-italic text-center bg-white p-1 mt-3" style="border-radius:15px;">La greffe vécue par les proches</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

            {# ADHERER #}

        <div style="background-color: rgb(0,137,45);">
            <p class="text-light pt-4 fs-2 fst-italic text-uppercase text-center" id="blog-heading">
                <i class="fa fa-edit"></i>
                <strong>Adhésion à transhépate bfc</strong>
            </p>
            <div class="d-grid gap-2 col-1 mx-auto">
                <a class="btn btn-outline-success text-light fst-italic fs-5 text-uppercase my-4" type="button" style="color: rgb(0,137,45);border-radius:10px;font-weight: bold;" href="{{ path('app_main_adhesion') }}">J'adhère</a>
            </div>
        </div>

            {# NOS ACTIONS #}

    <div style="background-color:#3bb3c0;">
        <p class="fs-2 fst-italic pt-4 text-uppercase text-center" style="color:#11494C;"><strong>Nos Actions</strong></p>
        {% for product in products %}
        <div class="container text-dark fs-5 fst-italic">
            <div class="mx-5 bg-light" style="border:solid 5px #11494C;">
                {# <img width="80" height="300" src="{{ asset('build/champ_fleuri.jpg') }}" class="card-img-top" style="border-bottom:solid 1px #11494C;border-radius:20px 20px 0 0;" alt="..."> #}
                <div class="w-100 h-100">
                    <div class="text-center  w-100 h-100" style="background-color:#11494C;">
                        {{ affichage|raw }}

                        {# <a href="{{ asset('uploads/brochures/' ~ product.brochureFilename) }}">View brochure</a> #}
                        <iframe id="inlineFrameExample"
                            {# title="Inline Frame Example" #}
                            width="900"
                            height="1500"
                            src="{{ asset('uploads/brochures/' ~ product.brochureFilename) }}">
                        </iframe>

                    </div>
                    {# <h5 class="card-title">Card title</h5> #}
                    {# <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> #}
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>

                {# DEVENIR BENEVOLE #}

        <div style="background-color: rgb(0,137,45);">
            <p class="text-light fs-2 pt-4 fst-italic text-uppercase text-center" id="blog-heading">
                <i class="fa fa-handshake-angle"></i>
                <strong>Devenez Bénévole à transhépate bfc</strong>
            </p>
            <div class="d-grid gap-2 col-1 mx-auto">
                <a class="btn btn-outline-success text-light fst-italic fs-5 text-uppercase my-4" type="button" style="color: rgb(0,137,45);border-radius:10px;font-weight: bold;" href="{{ path('app_main_benevole') }}">Je deviens bénévole</a>
            </div>
        </div>


{% endblock %}

