{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
     {# inclus le block CSS commun #}
     {{ parent() }}
     {# Insertion du fichier JS dans le block stylesheets #}
     {# La documentation de Recaptcha préconise en effet d'intégrer ce fichier JS dans le head #}
     <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block body %}

    <div class="container">

        <div class="titre">
            <span class="titre2">
                <strong>Inscrivez-vous</strong>
            </span>
        </div>

        <div class="cadre">

            <div class="cadre2"><strong>

                {{ form_start(registrationForm) }}

                    {{ form_row(registrationForm.email) }}

                    {{ form_row(registrationForm.username) }}

                    {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe'}) }}</strong>

                    <p class="text-muted fs-5">(* champs obligatoires )</p>

                    {{ form_row(registrationForm.captcha) }}
                    {{ form_errors(registrationForm.captcha) }}

                    <button class="inscription-valid btn btn" type="submit">
                    <strong>Valider</strong>
                    </button>

                {{ form_end(registrationForm) }}

                <a href="{{ path('app_blog_index') }}" class="bouton-RaL btn btn">
                    <strong>Retour à la liste</strong>
                </a>

            </div>

        </div>

    </div>

{% endblock %}
