{% extends 'admin/base.admin.html.twig' %}

{% block titleAdmin %}{{ user.username }}{% endblock %}

{% block admin %}

<div class="container-xx" style="background-color:#11494C;">

    <div class="container">

        <div class="mt-5" style="border:solid 25px #229296;border-radius:50px;">

            <div class="col-12 col-lg-12 bg-light px-lg-5" style="border:solid 15px light;border-radius:25px;">

                <p class="text-dark fs-1 fst-italic"><strong>Utilisateur</strong></p>

                <table class="table fs-5 fst-italic text-dark">
                    <tbody>
                        <tr>
                            <th>Email</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>Username</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th>Roles</th>
                            {% if (user.roles|json_encode == '["ROLE_USER"]') %}
                            <td>utilisateur</td>
                            {% else %}
                            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>CreatedAt</th>
                            <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>UpdatedAt</th>
                            <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                    </tbody>
                </table>

                {% for comment in user.comments %}

                    {# {{ dump(comment.content) }} #}

                {% endfor %}

                {% if is_granted('ROLE_ADMIN') %}

                <a href="{{ path('app_admin_user_index') }}" class="text-uppercase p-2 m-4 text-light
                text-decoration-none" style="background-color:#178E94;border:3px solid #11494C;border-radius:25px;">retour à la liste</a>

                <a href="{{ path('app_admin_edit', {'id': user.id}) }}" class="text-uppercase p-2 m-4
                text-light text-decoration-none" style="background-color:#178E94;border:3px solid #11494C;border-radius:25px;">éditer le profil</a>

                {{ include('admin/_delete_form.html.twig') }}

                {% endif %}

            </div>

        </div>
    </div>
</div>
{% endblock %}