{% extends 'admin/base.admin.html.twig' %}

{% block titleAdmin %}{{ user.username }}{% endblock %}

{% block admin %}

<div class="container-lg" style="background-color:#11494C;">

    <div class="titre">
        <span class="titre2">
            <strong>Utilisateur</strong>
        </span>
    </div>

        <div class="cadre">

            <div class="cadre2">

                <div>

                    <table class="container-sm fs-5 fst-italic px-5" style="color:#000;">
                        <tbody class="border-end-5"><br>
                            <tr class="space">
                                <th>Email : </th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr class="space">
                                <th>Nom :</th>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr class="space">
                                <th>Roles :</th>
                                {% if (user.roles|json_encode == '["ROLE_USER"]') %}
                                <td>utilisateur</td>
                                {% else %}
                                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                                {% endif %}
                            </tr>
                            <tr class="space">
                                <th>Créé-le :</th>
                                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr class="space">
                                <th>Modifié-le :</th>
                                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                        </tbody>
                    </table>

                    {% if is_granted('ROLE_ADMIN') %}

                    <div class="container">

                        <a href="{{ path('app_admin_edit', {'id': user.id}) }}" class="inscription-login btn btn-primary">éditer le profil</a>

                        <a href="{{ path('app_admin_user_index') }}" class="inscription-login btn btn-primary">retour à la liste</a>

                        {# <div class="m-5"> #}

                        {{ include('admin/_delete_form.html.twig') }}

                        {# </div> #}

                        {% endif %}

                    </div>

                </div>

            </div>

        </div>

        <div class="container-lg text-center">
            <a href="{{ path('app_blog_index') }}" class="inscription-login"><strong>retour à l'accueil</strong></a>
        </div>

</div>
{% endblock %}