{% extends 'admin/base.admin.html.twig' %}

{% block titleAdmin %}{{ user.username }}{% endblock %}

{% block admin %}

<div class="container">

    <div class="mt-5"  style="border:solid 25px #229296;border-radius:50px;">

        <div class="col-12 col-lg-12 bg-light px-2 px-lg-5 py-0 my-0" style="border:solid 5px light;border-radius:25px;">

            <h1>User</h1>

            <table class="table fs-5 fst-italic text-dark">
                <tbody>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Username</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>Roles</th>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    </tr>
                    <tr>
                        <th>CreatedAt</th>
                        <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>UpdatedAt</th>
                        <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                </tbody>
            </table>

            {% for comment in user.comments %}

                {{ dump(comment.content) }}

            {% endfor %}


            <a href="{{ path('app_admin_user_index') }}">back to list</a>

            <a href="{{ path('app_admin_edit', {'id': user.id}) }}">edit</a>

            {{ include('admin/_delete_form.html.twig') }}

        </div>

    </div>

</div>
{% endblock %}