{% extends 'base.html.twig' %}

{% block title %}Ajout Brochures PDF{% endblock %}

{% block body %}

    <div class="container-xl">

		<div class="m-5" style="border:solid 25px #229296;border-radius:50px;">

			<div class="col-12 col-lg-12 bg-light px-lg-5" style="border:solid 25px light;border-radius:25px;">
				<div class="text-center fs-2 fst-italic" style="width: 800px;color:#11494C;">
					<p class="">
						<strong>Ajouter une nouvelle brochure</strong>
					</p>
				</div>

                {% if is_granted('ROLE_ADMIN') %}
                    {{ form_start(form) }}
                        {# ... #}

                        {{ form_row(form.brochure) }}
                        {{ include('admin/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
                            {# <div class="card-footer d-flex d-row justify-content-end p-1">
                                {{ include('product/_delete_form_product.html.twig') }}
                            </div> #}
                    {{ form_end(form) }}
                {% endif %}

			</div>

		</div>

        <div class="m-5">
            <a class="text-decoration-none text-light fs-4 fst-italic py-2 px-3 m-5" style="border:solid 2px #73e0ed;background-color:#229296;border-radius:25px;" href="{{ path('app_main_home') }}">
                <strong>Retour à l'accueil</strong>
            </a>
        </div>

	</div>

{% endblock %}