{% extends 'base.html.twig' %}

{% block title %}Ajout Brochures PDF{% endblock %}

{% block body %}

    <div class="titre">
        <span class="titre2">
            <strong>Ajouter une nouvelle brochure</strong>
        </span>
    </div>

    <div class="container-xl" style="height:500px;">

		<div class="cadre">

			<div class="cadre2">

                {% if is_granted('ROLE_ADMIN') %}
                    {{ form_start(form) }}
                        {# ... #}

                        {{ form_row(form.brochure) }}
                        {{ include('admin/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

                    {{ form_end(form) }}
                {% endif %}

			</div>

		</div>

        <div class="m-5">
            <a class="bouton-RaL" href="{{ path('app_main_home') }}">
                <strong>Retour à l'accueil</strong>
            </a>
        </div>

	</div>

{% endblock %}