{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}

    <div class="row mt-5 p-2">

        <div class="col-12 col-md-8 offset-md-2">

            <div class="row">
                <h2 class="col-12 text-light text-title-h2 text-center mb-4">Nos dernières publications</h2>
            </div>

            {###### Boucle pour parcourir toutes les publications à afficher ######}
            {% for post in posts %}

            {# {{ dump(posts) }} #}

                <div class="row p-2">
                    <div class="col-12">

                    <div class="card my-3 bg-post">
                        <div class="card-header">
                            {# Titre de la publication, cliquable vers la page détaillée de celle-ci #}
                            <a class="text-decoration-none texte-title-h1" href="{{ path('app_blog_show_post', {'slug': post.slug}) }}">
                                <i class="fa-solid fa-xl fa-newspaper pe-4"></i>{{ post.title }}
                            </a>
                        </div>

                        <div class="card-body">
                            {# Affichage du contenu de la publication, tronquée à 600 caractères, suivi de "..." et d'un lien "lire la suite" #}
                            {{ post.content|slice(0, 100) }} ...
                            <a class="text-decoration-none text-title-h2" href="{{ path('app_blog_show_post', {'slug': post.slug}) }}"> Lire la suite</a>

                        {# Date et auteur de la publication et de la modification si nécessaire #}
                        <div class="card-footer text-muted py-2">
                            Publié le <span class="text-warning">{{ post.createdAt|date('d/M/Y à H\\hi') }}</span> par <span class="text-title-h2">{{ post.author.username }}</span>
                            {% if post.updatedAt %}
                                et modifié le <span class="text-warning">{{ post.updatedAt|date('d/M/Y à H\\hi') }}</span>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>

        {% else %}
                <div class="row">
                    <p class="col-12 text-center alert alert-warning">Aucune publication à afficher.</p>
                </div>
        {% endfor %}


    {# <div class="container px-5 mt-5"
    style="width:1200px;border-radius:50px;border:solid 20px #229296;">

        <div class="text-dark bg-light my-5 p-4 d-block w-100">

        <h1 class="container mx-auto fs-2 text-uppercase fst-italic"
        style="width: 400px;color:rgb(9, 90, 9);"><strong>Liste des Articles</strong></h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Content</th>
                    <th>CreatedAt</th>
                    <th>UpdatedAt</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td><textarea style="height: 100px;width: 350px">{{ post.content }}</textarea></td>
                    <td>{{ post.createdAt|date('d/m/Y H:i')  }}</td>
                    <td>{{ post.updatedAt ? post.updatedAt|date('d/m/Y H:i') : '' }}</td>
                    <td>
                        <a href="{{ path('app_blog_show_post', {'slug': post.slug}) }}"  class="btn btn-success">Voir plus</a>
                        <a href="{{ path('app_blog_edit_post', {'slug': post.slug}) }}"  class="btn btn-warning">Modifier</a>
                    </td>
                </tr> #}
            {# {% else %}
                <tr>
                    <td colspan="7">Aucun article trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table> #}

        <a href="{{ path('app_blog_new_post') }}" class="mx-4 px-5 py-2 text-light" style="font-size:1.15rem;background-color: #11494C;">Creer un nouvel article</a>

        </div>
    </div>

{% endblock %}
