{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

    <div class="container">

        <div class="titre">
            <span class="titre2">
                <strong>Nos Derniers Articles</strong>
            </span>
        </div>

        <div class="cadre">

            <div class="cadre2">

                {# Affichage du nombre total de publications (attibut apporté par knp_paginator) #}

                <div>
                    <div class="col-12 ps-5">
                        <p class="formulaire">Nombre total d'articles : {{ posts_paginate.getTotalItemCount }}</p>
                    </div>
                    {# <div class="col-12 ps-5 mb-3 right"> #}
                        <a href="{{ path('app_blog_new_post') }}" class="inscription-login"><strong>Créer un nouvel article</strong></a>
                    {# </div> #}
                </div>

                {# Formulaire de recherche #}
                <div class="container-sm">
                    <div class="col-12">
                        <form class="d-flex" method="GET" action="{{ path('app_main_search') }}">
                            <input class="form-control m-3 fs-5 fst-italic" name="search" type="search" placeholder="Trouver une publication" aria-label="Search">
                            <button class="btn btn-sm btn-outline-info" type="submit"><i class="fas fa-search"></i></button>
                        </form>
                        <p class="formulaire">taper un mot clé pour lancer une recherche dans tous les articles</p>
                    </div>
                </div>

                {# S'il y a des publications, on affiche le menu de pagination #}

                <div class="row">
                    <div class="col-12 text-center">
                        <div class="fs-6 fst-italic text-center mx-4 d-inline-block">
                            {{ knp_pagination_render(posts_paginate) }}
                        </div>
                    </div>
                </div>

                <ul class="navbar-nav">
                    <li class="nav-item">

                    {### MENU DE DROITE ###}

                    {% if app.user %}
                        <li class="container nav-item dropdown">
                            <strong><a  class="inscription-login dropdown-toggle"
                            href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if is_granted('ROLE_ADMIN') %}
                                <i class="fa-solid fa-lg fa-user-shield pe-2"></i>
                            {% else %}
                                <i class="fa-regular fa-lg fa-user pe-2"></i>
                            {% endif %}
                            {{ app.user.username }}
                            </a></strong>
                            <div>
                                <ul class="dropdown-menu inscription-login"
                                    aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item inscription-login"
                                            href="{{ path('app_main_user_show') }}">
                                            <i class="fa-solid fa-lg fa-house-user pe-3"></i>
                                            <strong>Mon profil</strong>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item inscription-login"
                                            href="{{ path('app_main_logout') }}">
                                            <i class="fas fa-lg fa-sign-out-alt pe-3"></i>
                                            <strong>Me déconnecter</strong>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% else %}
                    <a class="inscription-login" href="{{ path('app_main_login') }}"><i class="fas fa-lg fa-sign-in-alt pe-2"></i><strong>Connexion</strong></a>
                    {% endif %}

                    </li>
                </ul>

                {### AFFICHAGE DES PUBLICATIONS ###}

                <div class="row m-0 p-0">

                    {% for post in posts_paginate %}

                        {# Boucle d'affichage des Posts #}
                        {{ include('blog/_posts.view.html.twig') }}

                    {% else %}
                        <p class="col-12 text-center alert alert-warning">Aucune publication à afficher</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}