{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

    <div class="container">

    <div class="my-5 text-center">
        <span class="fs-2 px-3 py-1 fst-italic text-light text-uppercase"
            style="border:solid 5px #73e0ed;border-radius:25px;background-color:#229296">
            <strong>Nos Derniers Articles</strong>
        </span>
    </div>

        <div class="mt-5"  style="border:solid 25px #229296;border-radius:50px;">

            <div class="col-12 col-lg-12 bg-light px-2 px-lg-5 py-0 my-0" style="border:solid 5px light;border-radius:25px;">

                {# Affichage du nombre total de publications (attibut apporté par knp_paginator) #}

                <div>
                    <div class="col-12 ps-5">
                        <p class="fs-4 text-left fst-italic text-dark">Nombre total d'articles : {{ posts_paginate.getTotalItemCount }}</p>
                    </div>
                    <div class="col-12 ps-5 mb-3 right">
                        <a class="fs-4 my-4 px-3 py-2 fst-italic text-decoration-none nav-link2" style="border-radius:15px;"
                        href="{{ path('app_blog_new_post') }}"><strong>Créer un nouvel article</strong></a>
                    </div>
                </div>

                {# Formulaire de recherche #}
                <div class="container-sm">
                    <div class="col-12 text-center">
                        <form class="d-flex" method="GET" action="{{ path('app_main_search') }}">
                            <input class="form-control me-2 fs-5 fst-italic" name="search" type="search" placeholder="Trouver une publication" aria-label="Search">
                            <button class="btn btn-sm btn-outline-info" type="submit"><i class="fas fa-search"></i></button>
                        </form>
                        <p class="text-muted fst-italic fs-6">taper un mot clé pour lancer une recherche dans tous les articles</p>
                    </div>
                </div>

                {# S'il y a des publications, on affiche le menu de pagination #}

                <div class="row">
                    <div class="col-12 text-center">
                        <div class="fs-6 fst-italic text-center mx-4 d-inline-block">
                            {{ knp_pagination_render(posts_paginate) }}
                        </div>
                    </div>
                </div>

                 <ul class="navbar-nav ms-auto mb-2 mb-md-0">
              <li class="nav-item">

                {### MENU DE DROITE ###}

                {% if app.user %}
                  <li class="container nav-item dropdown fs-3 fst-italic">
                    <strong><a  class="nav-link2 dropdown-toggle text-capitalize px-5 py-2 text-decoration-none"  style="border-radius:15px;boreder:solid 2px #229296"
                          href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          {% if is_granted('ROLE_ADMIN') %}
                            <i class="fa-solid fa-lg fa-user-shield pe-2"></i>
                          {% else %}
                            <i class="fa-regular fa-lg fa-user pe-2"></i>
                          {% endif %}
                          {{ app.user.username }}
                      </a></strong>
                      <div>
                      <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end mt-3" style="background-color:#229296;border-radius:25px;border:solid 2px #229296;" aria-labelledby="navbarDarkDropdownMenuLink">
                      {# Menu de l'interface d'administration #}
                      {# {% if is_granted('ROLE_ADMIN') %}
                        <li><a class="dropdown-item mb-2" href="{{ path('app_admin_home') }}"><i class="fa-solid fa-lg fa-gears pe-3"></i>Administration</a></li>
                        <li><hr class="dropdown-divider"></li>
                      {% endif %} #}
                        <li><a class="dropdown-item mb-2 fs-5"  style="border-radius:25px;border:solid 2px #229296;" href="{{ path('app_main_user_show') }}"><i class="fa-solid fa-lg fa-house-user pe-3"></i>Mon profil</a></li>
                        {# <li><hr class="dropdown-divider"></li> #}
                        <li><a class="dropdown-item fs-5"  style="border-radius:25px;border:solid 2px #229296;" href="{{ path('app_main_logout') }}"><i class="fas fa-lg fa-sign-out-alt pe-3"></i>Me déconnecter</a></li>
                      </ul>
                      </div>
                  </li>
                {% else %}
                  <a class="nav-link2 text-capitalize px-5 py-2 text-decoration-none fs-4 fst-italic" style="border-radius:15px;" href="{{ path('app_main_login') }}"><i class="fas fa-lg fa-sign-in-alt pe-2"></i><strong>Connexion</strong></a>
                {% endif %}

              </li>
            </ul>

                {### AFFICHAGE DES PUBLICATIONS ###}

                <div class="row m-0 p-0">

                    {% for post in posts_paginate %}

                        {# Boucle d'affichage des Posts #}
                        {{ include('blog/_posts.view.html.twig') }}

                    {% else %}
                        <p class="col-12 text-center alert alert-warning">Aucune publication à afficher</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}