{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}

    <div class="text-dark bg-light my-5 p-4 d-block w-100">

        <h1 class="container mx-auto fs-2 text-uppercase fst-italic" style="width: 400px;color:rgb(9, 90, 9);"><strong>Liste des Articles</strong></h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Content</th>
                    <th>CreatedAt</th>
                    <th>UpdatedAt</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td>{{ post.content }}</td>
                    <td>{{ post.createdAt|date('d/m/Y H:i')  }}</td>
                    <td>{{ post.updatedAt ? post.updatedAt|date('d/m/Y H:i') : '' }}</td>
                    <td>
                        <a href="{{ path('app_blog_show_post', {'slug': post.slug}) }}"  class="btn btn-success">Voir plus</a>
                        <a href="{{ path('app_blog_edit_post', {'slug': post.slug}) }}"  class="btn btn-warning">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Aucun article trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_blog_new_post') }}" class="btn btn-success">Creer un nouvel article</a>

    </div>

{% endblock %}
