{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

    <div class="container">

        <div class="mt-5"  style="border:solid 25px #229296;border-radius:50px;">

            <div class="col-12 col-lg-12 bg-light px-2 px-lg-5 py-0 my-0" style="border:solid 5px light;border-radius:25px;">

                <div class="">
                    <h2 class="text-dark fs-2 fst-italic text-center mx-4"><strong>Nos dernièrs articles</strong></h2>
                </div>

                {# Affichage du nombre total de publications (attibut apporté par knp_paginator) #}

                <div>
                    <div class="col-12 ps-5">
                        <p class="fs-5 text-left fst-italic text-dark">Nombre total d'articles : {{ posts_paginate.getTotalItemCount }}</p>
                    </div>
                    <div class="col-12 ps-5 mb-3 right">
                        <a class="fs-5 my-4 px-3 py-1 text-light fst-italic text-decoration-none" style="background-color:#229296;border:solid 2px #229296;border-radius:25px;"
                        href="{{ path('app_blog_new_post') }}">Créer un nouvel article</a>
                    </div>
                </div>

                {# Formulaire de recherche #}
                <div class="container-sm">
                    <div class="col-12 text-center">
                        <form class="d-flex" method="GET" action="{{ path('app_main_search') }}">
                            <input class="form-control me-2" name="search" type="search" placeholder="Trouver une publication" aria-label="Search">
                            <button class="btn btn-sm btn-outline-info" type="submit"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                </div>

                {# S'il y a des publications, on affiche le menu de pagination #}

                <div class="row">
                    <div class="col-12 text-center">
                        <div class="fs-6 fst-italic text-center mx-4 d-inline-block">
                            {{ knp_pagination_render(posts_paginate) }}
                        </div>
                    </div>
                </div>
                {### AFFICHAGE DES PUBLICATIONS ###}

                <div class="row m-0 p-0">

                    {% for post in posts_paginate %}

                        {# Boucle d'affichage des Posts #}
                        {{ include('blog/_posts.view.html.twig') }}

                    {% else %}
                        <p class="col-12 text-center alert alert-warning">Aucune publication à afficher</p>
                    {% endfor %}
                </div>
            </div>

            {# Menu de Droite #}
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
              <li class="nav-item">

                {% if app.user %}
                  <li class="nav-item dropdown">
                      <a  class="nav-link dropdown-toggle text-capitalize"
                          href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          {% if is_granted('ROLE_ADMIN') %}
                            <i class="fa-solid fa-lg fa-user-shield pe-2"></i>
                          {% else %}
                            <i class="fa-regular fa-lg fa-user pe-2"></i>
                          {% endif %}
                          {{ app.user.username }}
                      </a>
                      <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end mt-3" aria-labelledby="navbarDarkDropdownMenuLink">
                      {# Menu de l'interface d'administration #}
                      {# {% if is_granted('ROLE_ADMIN') %}
                        <li><a class="dropdown-item mb-2" href="{{ path('app_admin_home') }}"><i class="fa-solid fa-lg fa-gears pe-3"></i>Administration</a></li>
                        <li><hr class="dropdown-divider"></li>
                      {% endif %} #}
                        <li><a class="dropdown-item mb-2" href="{{ path('app_main_user_show') }}"><i class="fa-solid fa-lg fa-house-user pe-3"></i>Mon profil</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ path('app_main_logout') }}"><i class="fas fa-lg fa-sign-out-alt pe-3"></i>Me déconnecter</a></li>
                      </ul>
                  </li>
                {% else %}
                  <a class="nav-link" href="{{ path('app_main_login') }}"><i class="fas fa-lg fa-sign-in-alt pe-2"></i>Connexion</a>
                {% endif %}

              </li>
            </ul>

        </div>
    </div>
{% endblock %}