<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content"width=device-width, initial-scale=1">

    <title>{% block title %}<img id="mini_logoimg" src="{{ asset('build/mini_logoimg.jpg') }}" alt="TRANSHEPATE"> {% endblock %}</title>

    {# BLOCK CSS #}
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {# BLOCK JS #}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <style type="text/css">
        ul {opacity: 1; display: none;}
        .bs-example {margin: auto; width: 25%;}
        .dropdown:hover .dropdown-menu {display: block;}
        a:hover {background-color: #178E94;}
        span .navbar {color: black;}
        .dropdown-item:hover { background-color: green; }
        .nav-item .dropdown:hover { background-color: green; }
    </style>

</head>

        {# HEADER #}
        <header>
            <nav class="entete navbar navbar-expand-lg">
                <div class="container">
                    <h6 class="fst-italic text-uppercase  text-white"><strong>  fédération régionale des malades et transplantés hépatiques</strong></h6>
                    <h6 class="fst-italic text-uppercase  text-white"><strong>  Région Bourgogne Franche Comtée</strong></h6>
                </div>
            </nav>

            <nav class="navbar navbar-expand-lg bg-white">
                <div class="container-fluid">
                    <a href="{{ path('app_main_home') }}">
                    <img id="logoimg" src="{{ asset('build/logoimg.jpg') }}" alt="TRANSHEPATE" style="height:50px; width: 200px; margin-left: 30px;">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="container fluid collapse navbar-collapse text-uppercase fst-italic" id="navbarColor01">
                        <ul class="navbar-nav mx-3 mb-2 mb-md-2">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-black" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><strong>Qui sommes-nous</strong></a>
                                <div class="dropdown-menu bg-success">
                                    <a class="dropdown-item" href="https://www.transhepate.org/" target="_blank">La fédération</a>
                                    <div class="dropdown-divider"></div>
                                    {# <a class="dropdown-item" href="{{ path('app_main_transhepatebfc') }}">Notre association régionale</a>
                                    <div class="dropdown-divider"></div> #}
                                    <a class="dropdown-item" href="https://www.transhepate.org/nos-associations-regionales/" target="_blank">Nos associations régionales</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-black" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><strong>La greffe hépatique</strong></a>
                                <div class="dropdown-menu bg-success">
                                    <a class="dropdown-item" href="https://www.centre-hepato-biliaire.org/transplantation-greffe-foie/bilan-pre-greffe.html" target="_blank">Le bilan pré-greffe</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="https://www.centre-hepato-biliaire.org/transplantation-greffe-foie/liste-attente-greffe.html" target="_blank">L'attente de la greffe</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="https://www.centre-hepato-biliaire.org/transplantation-greffe-foie/jour-de-la-greffe.html" target="_blank">Le jour de la greffe</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="https://www.centre-hepato-biliaire.org/transplantation-greffe-foie/suivi-medical-post-greffe.html" target="_blank">Le suivi après la greffe</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="https://www.transhepate.org/les-traitements-immunosuppresseurs/" target="_blank">Les traitements immunosuppresseurs</a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-black" href="https://www.transhepate.org/les-centres-de-greffe/" target="_blank"><strong>CENTRES DE GREFFE</strong></a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-black" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><strong>Nous soutenir</strong></a>
                                <div class="dropdown-menu bg-success">
                                    <a class="dropdown-item" href="https://www.transhepate.org/jadhere-a-transhepate/" target="_blank">J'adhère à TransHépate</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="http://www.transhepate.org/donner/" target="_blank">Pourquoi je fait un don</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="https://www.transhepate.org/appel-aux-benevoles/" target="_blank">Je veut devenir bénévole</a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-black" href="{{ path('app_main_transhepatebfc') }}"><strong>Nous contacter</strong></a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-black" data-bs-toggle="dropdown" href="#"
                                role="button" aria-haspopup="true" aria-expanded="false"><strong>TranHépate Blog</strong></a>
                                <div class="dropdown-menu bg-success" id="mouseover">
                                    <a class="dropdown-item" href="{{ path('app_blog_index') }}">Accueil</a>
                                        <div class="dropdown-divider"></div>
                                    {# <a class="dropdown-item" href="{{ path('app_main_register') }}">Inscription</a>
                                        <div class="dropdown-divider"></div> #}

                                    {% if app.user %}
                                        <a class="dropdown-item" href="{{ path('app_main_logout') }}">Déconnexion <i class="fas fa-sign-out-alt"></i></a>
                                    {% else %}
                                        <a class="dropdown-item" href="{{ path('app_main_login') }}">Connexion <i class="fas fa-sign-in-alt"></i></a>
                                    {% endif %}

                                        <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('app_blog_new_post') }}">Nouvelle publication</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </header>

    <body>

        {# MAIN #}
        <main class="container-fluid flex-shrink-0">

            {# Container pour les messages flash #}
            <div id="messages" class="container p-0 m-0 mx-auto">
                <div class="row p-0 m-0">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }} col-12" role="alert">{{ message }}</div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>

        {# BLOCK PRINCIPAL #}
        {% block body %}{% endblock %}

            </div>
        </main>


        {# FOOTER #}

        <footer class="footer py-2">
            {# <div style="height:5vh; width:1000px; margin-left:50px;" class="row align-center">
                <div style="height:5vh; width:1000px; margin-left: 150px;" class="container fluid"> #}
                    <div class="row align-center">
                        <div class="ps-3 col-4">
                            <p class="text-warning">&copy; Transhépate 2022 - Mentions légales et RGPD</p>
                        </div>
                        <div class="col-4">
                            <img id="logomonin" src="{{ asset('build/Logo Monin 2.PNG') }}" alt="logo" style="height:50px; width: 200px;">
                        </div>
                        <div class="col-4">
                            <a class="btn btn-outline-warning text-uppercase" href="https://www.service-public.fr/particuliers/vosdroits/F183" target="_blank">le don d'organes</a>
                        </div>
                    </div>
                {# </div>
            </div> #}
        </footer>

    </body>

</html>
