<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content"width=device-width, initial-scale=1">

    <title>{% block title %}TransHépate {% endblock %}</title>

    {# BLOCK CSS #}
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {# BLOCK JS #}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <style type="text/css">
        ul {opacity: 1; display: none;}
        .bs-example {margin: auto; width: 25%;}
        .dropdown:hover .dropdown-menu {display: block;}
        a:hover {background-color: #178E94;}
        span .navbar {color: black;}
        .dropdown-item:hover { background-color: green; }
        .nav-item .dropdown:hover { background-color: green; }
    </style>

</head>

    <body class="d-flex flex-column h-100">

        {# HEADER #}
        <header>
            <nav class="entete navbar navbar-expand-lg">
                <div class="container">
                    <h6 class="text-uppercase  text-white">  fédération régionale des malades et transplantés hépatiques</h6>
                    <h6 class="text-uppercase  text-white">  Région Bourgogne Franche Comtée</h6>
                </div>
            </nav>

            <nav class="navbar navbar-expand-lg bg-white">
                <div class="container-fluid">
                    <a href="{{ path('app_main_home') }}">
                    <img id="logoimg" src="{{ asset('build/images/logoimg.jpg') }}" alt="TRANSHEPATE" style="height:50px; width: 200px; margin-left: 30px;">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="container fluid collapse navbar-collapse text-uppercase" id="navbarColor01">
                        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-black" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Qui sommes-nous</a>
                                <div class="dropdown-menu bg-success">
                                    <a class="dropdown-item" href="https://www.transhepate.org/" target="_blank">La fédération</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Notre association régionale</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Nos associations régionales</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-black" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">La greffe hépatique</a>
                                <div class="dropdown-menu bg-success">
                                    <a class="dropdown-item" href="https://www.centre-hepato-biliaire.org/transplantation-greffe-foie/bilan-pre-greffe.html" target="_blank">Le bilan pré-greffe</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="https://www.centre-hepato-biliaire.org/transplantation-greffe-foie/liste-attente-greffe.html" target="_blank">L'attente de la greffe</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="https://www.centre-hepato-biliaire.org/transplantation-greffe-foie/jour-de-la-greffe.html" target="_blank">Le jour de la greffe</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="https://www.centre-hepato-biliaire.org/transplantation-greffe-foie/suivi-medical-post-greffe.html" target="_blank">Le suivi après la greffe</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="https://www.transhepate.org/les-traitements-immunosuppresseurs/" target="_blank">Les traitements immunosuppresseurs</a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-black" href="#">CENTRES DE GREFFE</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-black" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Nous soutenir</a>
                                <div class="dropdown-menu bg-success">
                                    <a class="dropdown-item" href="#">J'adhère à TransHépate</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Pourquoi je fait un don</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Je veut devenir bénévole</a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-black" href="{{ path('app_main_contact') }}">Nous contacter</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-black" data-bs-toggle="dropdown" href="#"
                                role="button" aria-haspopup="true" aria-expanded="false">TranHépate Blog</a>
                                <div class="dropdown-menu bg-success" id="mouseover">
                                <a class="dropdown-item" href="{{ path('app_main_blog') }}">Acceuil</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('app_main_new_post') }}">Nouvel publication</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Inscription</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </header>

        {# MAIN #}
        <main class="container-fluid flex-shrink-0">

            {# Container pour les messages flash #}
            <div id="messages" class="container p-0 m-0 mx-auto">
                <div class="row p-0 m-0">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }} col-12" role="alert">{{ message }}</div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>

                {# BLOCK PRINCIPAL #}
                {% block body %}{% endblock %}

            </div>
        </main>


        {# FOOTER #}

        <footer class="footer mt-auto py-1 bg-white">
            <div>
                <li style="height:5vh; width:1000px; margin-left:50px;" class="row align-center">
                    <p style="margin-left: 50px;" class="row align-items-center col-3 text-warning">&copy; Copyright 2022</p>
                    <img class="row align-center" id="logomonin" src="{{ asset('build/images/Logo Monin 2.PNG') }}" alt="logo" style="height:50px; width: 200px; margin-right: 150px;">
                    <a class="btn btn-outline-warning text-uppercase col-3" href="https://www.service-public.fr/particuliers/vosdroits/F183" target="_blank">le don d'organes</a>
                </li>
            </div>
        </footer>

    </body>

</html>
