{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}

    <div class="text-dark bg-light my-5 p-4 d-block w-100">

        <h1 class="mx-auto fs-2 text-uppercase fst-italic" style="width: 400px;"><strong>Article</strong></h1>

        <table class="table">
            <tbody class="text-dark ">
                <tr>
                    <th>Id</th>
                    <td>{{ post.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ post.title }}</td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td>{{ post.slug }}</td>
                </tr>
                <tr>
                    <th>Content</th>
                    <td>{{ post.content }}</td>
                </tr>
                <tr>
                    <th>CreatedAt</th>
                    <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>UpdatedAt</th>
                    <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_post_index') }}" class="btn btn-success">Retour à la liste</a>

        <a href="{{ path('app_post_edit', {'id': post.id}) }}"  class="btn btn-warning">Editer</a>

        {{ include('post/_delete_form.html.twig') }}

    </div>

{% endblock %}
